body{
    background-color: black;
}


.main{
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.main_content{
    background-color: white;
    width: 100vh;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse-bold;
    background-image: url(./images/1146331369-caesegatos.webp);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-left: 8%;
    width: 70vh;
    height: 100vh;
}
h1{
    font-size: 40px;
}

.icon{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-bottom: 80%;
    color: white;
    background-color:rgb(19, 18, 18);
    opacity: 0.5;
}

p{
    margin-top: 3%;
    font-weight: bold;
}
.texto{
    margin-top: 8%;
    margin-left: 5%;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    height: 40vh;
    width: 100vh;
}

.first_row{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
}
.second_row{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 5%;;
}

.main_text{
    height: 30vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    background-color:#E5E7EB;
    

}
.create{
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB;
    width: 100vh;
    height: 30vh;
}

.form_div{
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
    border: 1px solid #E5E7EB;
}

.pass1, .pass2{
    border: 1px solid red;
}

input:focus{
    border: 1px  blue;
}

.btn{
    margin-top: 8%;
    margin-left: 5%;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #1bacd4;

}

#pets{
width: 15%;
gap: 3%;
}

#link{
    color:#1bacd4;
}
#error{
    font-size: 12px;
    color: red;
}